* {
  margin: 0;
  padding: 0;
}
body {
}
header {
  border-radius: 16px;

  background: linear-gradient(0deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url('images/Banner\ Image.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header div p {
  color: rgb(255, 255, 255);
  /* font-family: Merriweather; */
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
header div h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}
